.col {
    padding: 25px;
}

.card {
    background-color: var(--bg-card);
    max-height: 400px;
    overflow-x: hidden;
}

.action {
    margin-bottom: 19px;;
}

.walletDataContainer {
    overflow-y: scroll;
}