.container {
  display: flex;
  flex-direction: column;
  overflow-x: visible;
  max-height: 251px;
}

.button {
  margin-top: 5px;
  margin-bottom: 5px;
  border-left-width: 1px;
  font-family: 'Roboto Mono', monospace;
}
