.listContainer {
    margin: 0;
    padding: 0;

    max-height: 33vh;
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

.listContainer::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }
.listContainer::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.item {
    margin: 0px;
    margin-top: 5px;
    padding: 0px;
    width: 100%;
    list-style: none;
}

.item button {
    padding: 5px;
    width: 100%;
    background-color: #FFFFFF;
    border: 1px solid #AAAAAA;
}

.itemActive button {
    background-color: #ddd;
}